body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-image: url(./react-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(50vh + 80%);
    background-position-y: 100px;
}

nav {
    display: flex;
    background-color: rgb(194, 194, 194);
    padding: 20px;
    color: #61DAFB;
    align-items: center;
}

.toggler {
    position: absolute;
    right: 40px;
    color: white;
}

main {
    color: black;
    background-color: white;
    margin: 35px;
}

.list {
    line-height: 40px;
    font-size: 15pt;
}

.list li::marker {
    color: #61DAFB;
    font-size: 30px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 30px;
}

.main-title {
    font-weight: 900;
    margin-left: 5px;
    font-size: 20pt;
}

.text-head {
    font-size: 35pt;
    font-weight: bold;
}

.toggler-slider {
    height: 25px;
    width: 47px;
    background-color: blue;
}

/* Dark mode */
.dark {
    background-color: rgb(95, 95, 95);
}

.dark #root {
    background-color: rgb(95, 95, 95);
}

.dark body {
    background-color: rgb(95, 95, 95);

}

.dark main {
    background-color: rgb(95, 95, 95);

}

.dark nav {
    background-color: rgb(56, 56, 56);
}

.dark h1 {
    color: white;
}

.dark li {
    color: white;
}

