body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.responsive {
    display: flex;
    background-color: rgb(138, 138, 138);
    padding: 20px;
    color: #61DAFB;
    align-items: center;
}

.responsive-element-full-logo {
    display: flex;
    align-items: center;
}

.responsive-element {
    align-items: center;
    display: flex;
}

.toggler {
    position: absolute;
    right: 40px;
    color: white;
}

main {
    color: black;
    width: 100%;
    height: 125vh;
    background-image: url(./react-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(65vh + 76%);
    background-position-y: 15px;
}

.content {
    margin-left: 50px;
    position: relative;
    top: 60px;
}

.list {
    line-height: 40px;
    font-size: 15pt;
    margin-right: 40px;
}

.list li::marker {
    color: #61DAFB;
    font-size: 30px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 15px;
}

.main-title {
    font-weight: 900;
    margin-left: 5px;
    font-size: 20pt;
}

.text-head {
    font-size: 35pt;
    font-weight: bold;
    margin: 0;
}

.toggler {
    display: flex;
    gap: 10px;
}

.toggler-slider {
        position: relative;
        top: 10px;
        width: 75px;
        height: 30px;
        background-color: #333;
        border-radius: 30px;
        cursor: pointer;
      
}

.toggler-light {
    position: relative;
    margin: auto;
    text-align: center;
    color: #fff;
  }

.toggler-slider-circle {
    width: 30px;
  height: 30px;
  top: 15px;
  left: 0;
  background-color: #ccc;
  border-radius: 30px;
  position: absolute;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
}

.toggler input[type="checkbox"] {
    display: none;
  }
  
  .toggler input[type="checkbox"]:checked +  .toggler-slider-circle {
    left: 44px;
  }

/* Dark mode */
.dark {
    background-color: rgb(95, 95, 95);
}

.dark #root {
    background-color: rgb(95, 95, 95);
}

.dark body {
    background-color: rgb(95, 95, 95);

}

.dark body {
    background-color: rgb(95, 95, 95);
}

.dark .responsive {
    background-color: rgb(56, 56, 56);
}

.dark h1 {
    color: white;
}

.dark li {
    color: white;
}

.dark .toggler-slider {
    background-color: rgb(138, 138, 138);
}

@media screen and (max-width: 450px) {
    .responsive {
        display: block;
    }

    main {
        height: 200vh;
    }

    .responsive-element {
        justify-content: center;
        display: flex;
        padding-bottom: 15px;
    }
}